/*
*= require bootstrap
*/

@import "bootstrap";

body {
	background: url("vtdc_background_main.jpg") repeat-x;
	//width: 793px;
}

#content {
//	margin: 0 auto;
	//background: #98B74C;
	//background: white;
//	width: 793px;
//	text-align: left;
}

.app-header {
  @include container-fixed();
  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
  margin-bottom: 5px;
	//height: 162px;


  .app-name-2 {
      //background: bottom center url("header.jpg") scroll no-repeat transparent;
      height: auto;
      width: auto;
      float: left;
      text-align: right;

    #logo {
      float: left;
      margin-top: 5px;
      //margin-left: 15px;

      img {
        float: right;
        height: 130px;
      }

    }

    #name {
      font: 13px Arial, Helvetica, sans-serif;
      float: left;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-style: italic;
      color: #5C722A;
      coxlor: green;
      text-shadow: black 0.08em 0.08em 0.1em;
      margin-top: 12px;
      margin-left: 0px;
      padding: 0px;

      #name1 {
        float: left;
        clear: both;
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
      }
      #name2 {
        float: left;
        clear: both;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
      }
    }
  }
}

.bootstrap-content {
  margin-top: 4px;
  background: whitesmoke;
  //border: 1px solid #D3CCCC;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

  input[type="file"] {
    line-height: auto;
    height: auto;
  }

  input[type="text"],
  input[type="file"],
  .paperclip--attachment,
  textarea {
    width: 600px; // plus 12px padding and 2px border
  }

  textarea {
    height: 200px;
  }

}

.main-content > .header {
  padding-left: 10px;
  padding-bottom: 5px;
}

.form-actions, .form-horizontal .actions {
 // background-color: whitesmoke;
 // border-top: 1px solid #E5E5E5;
  margin-bottom: 0px;
 // margin-top: 20px;
 // padding: 19px 20px 20px;
}

#user-changer {
  float: right;
  margin: 0px;
  .nav{
    margin: 0px;
  }
}

#right-header {
  float: right;
  margin-top: 15px;

  #my-account-nav {
    width: auto;
  }

  .nav > li > a{
    color: whitesmoke;
    text-shadow: green 0.1em 0.1em 0.2em;

  }

  .navbar {
    margin-bottom: 0px;
  }

  .navbar-inner {
    background: none;
    color: whitesmoke;
    width: auto;
    //border: 1px solid #D4D4D4;
    //border-radius: 4px 4px 4px 4px;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  }

}

.navbar-inner {
  @include container-fixed();
  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
  min-height: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

form {
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

// Front page elements

.club-logo {
  text-align: center;
}

.carousel {
  margin-left: 0px;
}

.carousel-inner > .item > img {
  display: block;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.carousel-caption {
  position:relative;
  background: #4b4b4b;
  clear: both;
  float: left;
  text-align: center;
  width: 100%;

  p {
    color: whitesmoke;
    font-size: 20px;
    text-shadow: black 0.08em 0.08em 0.1em;
  }
}

.news {
  height: auto;
  ul, li {
    list-style: none;
    margin-top: 10px;
  }
  li {
    border-bottom: 1px solid #a9a9a9;

  }
  .news-item-title, .news-item-body {
    //display: inline-block;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    list-style: none;
    font-weight: bolder;
  }
  .news-item-body {
    //display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    list-style: none;
  }
}


