/*
*= require bootstrap
*/

@import "bootstrap";

body {
	background: url("vtdc_background_main.jpg") repeat-x;
    // background: -moz-linear-gradient(center top -270deg, #D4CFA2 50%, #B8AF66 100%) repeat scroll 0 0 transparent;
	//width: 793px;
}

.app-header {
  @include container-fixed();
  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
  margin-bottom: 5px;
	//height: 162px;


  .app-name-2 {
      //background: bottom center url("header.jpg") scroll no-repeat transparent;
      height: auto;
      width: auto;
      float: left;
      text-align: right;

    #logo {
      float: left;
      margin-top: 5px;
      //margin-left: 15px;

      img {
        float: right;
        height: 130px;
      }

    }

    #name {
      font: 13px Arial, Helvetica, sans-serif;
      float: left;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-style: italic;
      color: #5C722A;
      coxlor: green;
      text-shadow: black 0.08em 0.08em 0.1em;
      margin-top: 12px;
      margin-left: 0px;
      padding: 0px;

      #name1 {
        float: left;
        clear: both;
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
      }
      #name2 {
        float: left;
        clear: both;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
      }
    }
  }
}

.bootstrap-content {
  margin-top: 4px;
  background: whitesmoke;
  //border: 1px solid #D3CCCC;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);

  input[type="file"] {
    line-height: auto;
    height: auto;
  }

  input[type="text"],
  input[type="file"],
  .paperclip--attachment,
  textarea {
    width: 600px; // plus 12px padding and 2px border
  }

  textarea {
    height: 200px;
  }

}

.main-content > .header {
  padding-left: 10px;
  padding-bottom: 5px;
}

.form-actions, .form-horizontal .actions {
 // background-color: whitesmoke;
 // border-top: 1px solid #E5E5E5;
  margin-bottom: 0px;
 // margin-top: 20px;
 // padding: 19px 20px 20px;
}

#user-changer {
  float: right;
  margin: 0px;
  .nav{
    margin: 0px;
  }
}

#right-header {
  float: right;
  margin-top: 15px;

  #my-account-nav {
    width: auto;
  }

  .nav > li > a{
    color: whitesmoke;
    text-shadow: green 0.1em 0.1em 0.2em;

  }

  .navbar {
    margin-bottom: 0px;
  }

  .navbar-inner {
    background: none;
    color: whitesmoke;
    width: auto;
    //border: 1px solid #D4D4D4;
    //border-radius: 4px 4px 4px 4px;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  }

}

.navbar-inner {
  @include container-fixed();
  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
  min-height: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

form {
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

// Front page elements

.club-logo {
  text-align: center;
}

.carousel {
  margin-left: 0px;
  height: 480px;
}

.carousel-inner {
  position: absolute;
  top: 0px;
  height: 480px;
}

.carousel-inner .image-holder {
  width: 540px;
  height: 420px;
  float: left;
  clear: both;
}


.carousel-inner > .item > .image-holder > img {
  display: block;
  line-height: 1;
  width: 540px;
  height: 420px;
  margin: auto;
}

.carousel-caption {
  background: #4b4b4b;
  float: left;
  height: 60px;
  text-align: center;
  width: 100%;
  position: relative;

  p {
    color: whitesmoke;
    font-size: 20px;
    text-shadow: black 0.08em 0.08em 0.1em;
  }
}

.news {
  height: auto;
  ul, li {
    list-style: none;
    margin-top: 10px;
  }
  li {
    border-bottom: 1px solid #a9a9a9;

  }
  .news-item-title, .news-item-body {
    //display: inline-block;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    list-style: none;
    font-weight: bolder;
  }
  .news-item-body {
    //display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    list-style: none;
  }
}

.carousel {
  .item {
    transition: .7s ease-in-out opacity;
    -moz-transition: .7s ease-in-out opacity;
    -ms-transition: .7s ease-in-out opacity;
    -o-transition: .7s ease-in-out opacity;
    -webkit-transition: .7s ease-in-out opacity;
    left: 0 !important;
    height: 420px;
    width: 540px;
  }

  .next.left, .prev.right {
    opacity: 1;
    z-index: 1;
  }

  .active.left, .active.right {
    opacity: 0;
    z-index: 2;
  }

}

.carousel-control {
  background: none repeat scroll 0 0 #222222;
  border: 3px solid white;
  border-radius: 23px 23px 23px 23px;
  bottom: 6px;
  color: white;
  font-size: 60px;
  font-weight: 100;
  height: 40px;
  left: 15px;
  line-height: 30px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: inherit;
  width: 40px;
  margin-top: 0px;
}

.custom-page-contents{
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  .big-text {
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

.custom-page-header{
  font-size: 25px;
  font-weight: heavy;
  text-shadow: darkgrey 0.08em 0.08em 0.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-page #login {
  width: 206px;
}

.forgot-password-page {
  .content {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    th {
      padding-right: 5px;
    }
  }
}

.aside {
  .sidebar-nav {
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  }
  li.active {
    background: #0088CC;
    a {
      color: whitesmoke;
    }
  }
  div.arrow {
    float: right;
  }
  .arrow {
    height: 0;
    width: 0;
    border: 4px solid transparent;
  }
  .arrow.up {
    border-bottom-color: #222222;
    margin-top: 3px;
  }
  .arrow.down {
    border-top-color: #222222;
    margin-top: 7px;
  }
}

.aside-column > .well {
  border: none;
  border-radius: none;
  box-shadow: none;
}